body {
    /* Remove the browser's default margin and. */
    margin: 0;
    /* make the page at least as tall as the viewport (visible screen) */
    /* min-height: 100vh; */

    display: flex;
    flex-direction: column;

    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #172033;

    padding: 5px 150px;
}

.logo {
    display: flex;
    gap: 10px;
}

.dragon {
    width: 60px;
    height: auto;
}

.brzrkr-cookbook {
    width: 125px;
    height: auto;
}


.header-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    font-size: 18px;
    color: #E5E7Eb;
}

.header-links ul {
    display: flex;
    gap: 50px;

    list-style-type: none;
    padding-left: 0px;
}

.header-links ul a {
    text-decoration: none;
    color: white;
}


.hero-section {
    border-top: 3px double rgba(255, 255, 255, 0.3);
    display: flex;
    background-color: #172033;
    justify-content: space-between;
    column-gap: 40px;
    padding: 100px 150px;

}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    gap: 10px;

}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

    /* flex:1; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7Eb;

    /* flex:1; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-btn button {
    width: 120px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;

    display: flex;
    justify-content: center;
    align-items: center;


}

/* transition effect */
.hero-btn button {
    transition:
        transform 0.2s ease,
}

.hero-btn button:hover {
    transform: scale(1.1);
}

.hero-img {
    padding-left: 50px;

}

.hero-section img {
    width: 350px;
    aspect-ratio: 3 / 2;
    /* object-fit: cover; */
    border-radius: 10px;
}

.feature-section {
    display: flex;
    flex-direction: column;
    background-color: #E8D5A9;

}

.feature-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.feature-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 83px;
}

.feature-boxes .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: auto;

    gap: 20px;
}

.box img {
    width: 150px;
    height: auto;
    box-sizing: border-box;
    border: 4px solid #C18B3B;
    border-radius: 10px;
    padding: 5px;

}

/* transition */
.box img {
    transition: transform 0.2s ease;
}

.box img:hover {
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(193, 139, 59, 0.6);

}

.feature-text {
    text-align: center;
    font-size: 22px;
    color: #374151;
    font-weight: 700;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* gap: 10px; */

    padding: 100px 220px;

    font-size: 30px;
    background-color: #ecd0cb;
    color: #1F2937;

}

.testimonial-quote,
.testimonial .name {
    display: flex;
    flex: 1;
    font-weight: 300;

}

.testimonial-quote {
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.4;

}

.testimonial .name {
    margin-left: auto;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 22px;
    padding-top:10px;

}

.sign-in_container {
    display: flex;
    padding: 150px 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7EFD1;
}

.sign-in {
    display: flex;
    background-color: #6E3F47;
    padding: 30px 50px;
    border-radius: 10px;
    gap: 30px;
    border:4px solid #C18B3B;
}

.sign-in_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;

}

.sign-in_text .text_main {
    font-size: 30px;
    font-weight: 900;
    color:#C18B3B;
}

.sign-in_text .text_secondary {
    font-size: 18px;
    font-weight: 400;
}

.sign-in_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in_btn button {
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    border-radius: 10px;
    background-color: #C18B3B;
    color: #F9FAF8;
    padding: 12px;
    font-size: 22px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* transition effect */
.sign-in_btn button {
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.sign-in_btn button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}


.footer {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: #172033;
    padding:5px;
}

.footer .copyright-text {
    font-size:15px;
    padding: 10px;
    color: #C18B3B;
    font-weight:bold;
    
    /* width: 100% means:
    Make this element take up 100% of the 
    width of its parent container. */
        
    width: 100%;
    text-align: center;
}


.footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0px;
    margin:0px;
    width: 100%;
    text-align: center;
}

.footer ul a {
    text-decoration: none;
    color: #AFA58A;
    font-size:10px;
}